# App
APP_SERVER_NAME=Kylian
APP_VERSION=2026.04.1-dev
APP_ENVIRONMENT=DEV

# Sentry
SENTRY_DSN=

# Emergency
EMERGENCY_AUTO_DELETE_MINUTES=1

# Discord
DISCORD_TOKEN=

# Discord Guild Ids
DISCORD_IDS_BOT=686188922669498409
DISCORD_IDS_CHANNELS_EMERGENCY=1337407764179456141
DISCORD_IDS_CHANNELS_SOCIAL_NETWORKS=1337407764179456141
DISCORD_IDS_CHANNELS_VOTE_ADMIN=
DISCORD_IDS_CHANNELS_VOTE_STAFF=
DISCORD_IDS_CHANNELS_VOTE_RECAP=
DISCORD_IDS_GUILD=
DISCORD_IDS_ROLES_ADMIN=
DISCORD_IDS_ROLES_STAFF=

# Instagram
INSTAGRAM_TOKEN=
INSTAGRAM_USER_ID=
INSTAGRAM_SESSION_ID=

# Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Website
WEBSITE_BASE_URL=https://localhost:8080
WEBSITE_ROLE_UPDATE_ENDPOINT=/discord/roles/update
WEBSITE_ENABLE_ROLE_UPDATE=false

# Playwright
PLAYWRIGHT_IP=browser